@charset "utf-8";

/*
        Exercise:
        Author:
        Date:
        Visual Style Sheet for Tree and Book Family Home Page


        Filename: tb_visual1.css

*/


/* Figure Box Styles */
figure {
        margin: 20px auto 0px;
        width: 80%;
}

figure img {
        display: block;
        width: 100%;
}

figure figcaption {
        background-color: white;
        font-family: 'Palatino Linotype' , Palatino, 'Times New Roman' , serif;
        
}

/* HTML Styles */




/* Article Styles */




/* Page Body Styles */




/* Aside Styles */



/* Footer Styles */
