@charset "utf-8";

/*
        Exercise:05_04 Graphic Design with CSS
        Author:Yamilex Godinez
        Date:10.10.17
        Visual Effects Style Sheet for Photo Page at Tree and Book


        Filename: tb_visual2.css

*/


/* Transformation Styles */



/* Filter Styles */
